.App{
  display:flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;

  width: 100%;
}
.headerSection{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
  color: white;
  font-size: 50px;
  width: 100vw;
  height: 30vh;
  padding: 0%;
  flex-direction: column;
 

}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color:coral;
  font-size: 20px;
  width: 40vw;
  height: 10vh;
  padding: 0%;
  box-shadow: 5px 5px 5px 1px black;
  margin-top: 1vh;
  
}
.searchButton{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color:coral;
  font-size: 20px;
  width: 40vw;
  height: 10vh;

}